body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bolder;
  color: #052e25;
}

a {
  text-decoration: underline;
  color: #2d867c;
}

a:visited {
  text-decoration: underline;
  color: #a7280c;
}

/* Style the header */
header {
  background-color: #bde7e2;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

main {
  width: 70%;
  padding-top: 10px;
  float: left;
}

/* Style the footer */
footer {
  clear: left;
  background-color: #bde7e2;
  padding: 10px;
  text-align: center;
}

.vertical-menu {
  width: 15%;
  padding-right: 10px;
  float: left;
}

.vertical-menu a {
  background-color: #71c5b6; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #2c867c; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #0c544e; /* Add a green color to the "active/current" link */
  color: white;
}

.two-column {
  float: left;
  width: 50%;
}

.three-column {
  float: left;
  width: 33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
